body {
  background: linear-gradient(to bottom, rgb(23, 21, 21), #000000);
  min-height: 100vh;
  text-decoration: none;
  color: white;
}

nav p {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  font-size: 35px;
  width: 90%;
  font-family: "Times New Roman", sans-serif;
  text-align: left;
}

nav p:nth-child(1) {
  font-size: 40px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  align-items: center;
  width: 100%;
}

.tlgrm {
  cursor: pointer;
  font-size: 25px;
  color: white;
  text-decoration: none;
  text-underline-mode: none;
  text-underline: none;
}

.call {
  font-size: 25px;
  color: inherit;
  text-decoration: none;
  text-underline-mode: none;
  text-underline: none;
}

@media (max-width: 768px) {

  nav p {
    font-size: 18px;
    width: 95%;
  }

  nav p:nth-child(1) {
    font-size: 28px;
  }

  p b {
    font-size: 24px;
  }

  .tlgrm, .call {
    font-size: 20px;
    color: inherit;
    text-decoration: none;
    text-underline-mode: none;
    text-underline: none;
  }

}
